h2= module.name

.stars.large      
  mixin stars(module.rating)
p #{module.reviews.length} reviews


a(href='#')= module.url
p Language : #{module.language}
p Tags :
each tag in module.tags
  span #{tag}, 