extends layout
include mixins/stars

block styles
  link(rel='stylesheet', href='/styles/module.css')
  link(rel='stylesheet', href='/styles/stars.css')



block content
  .head.row.well

    h1= module.name
    a(href='#')= module.url
         
    .stars.large      
      mixin stars(module.rating)


    p Language : #{module.language}
    p Tags :
      each tag in module.tags
        span #{tag}, 

  a(href='/review/new/module/#{module.name}') Write a review!

  .reviews.row
    ul.unstyled
      each review in module.reviews
        include partials/review



